{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">


            <!--- Afficher la liste des articles en boucle for -->
            <table border="1px">
                <ul>
                    {% for key, value in liste_article %}
                        <tr>
                            <td>{{ value.id }}</td>
                            <td> {{ value.subject}}</td>
                            <td>  {{ value.date|date('Y-m-d')}} </td>
                            <td>{{ value.body}} </td>
                        </tr>
                    {% endfor %}
                </ul>
            </table>
        </div>
    </div>

{% endblock %}