{% extends 'base.html.twig' %}
{% block body %}

    <!-- ajout d'une feuille de style-->
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">

    {{ include('layout/mainMenu.html.twig', {'current' : 'homepage'}) }}

        <div class="container-fluid">
            <h1>HOME</h1>
            <img id="img" src="{{ asset('img/img.jpg') }}">

        </div>
{% endblock %}